:root{
    --background: #2d3436;
    --background-card: #636e72;
    --text-global: #dfe6e9
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--background);
}

h1{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--text-global);
}


.Card{
    background: var(--background-card);
    height: 350px;
    width: 350px;
    border: 1px solid var(--text-global);
    border-radius: 5px;
}

