:root{
    --background: #2d3436;
    --background-card: #636e72;
    --text-global: #dfe6e9
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--background);
}

h1{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--text-global);
}

label{
    margin: 10px 0;
}

input{
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 6px;
    box-shadow: none;
    border: none;
}

.btnDefault{
    background: #c91414c5;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    color: var(--background);
    transition: ease-in-out;
    cursor: pointer;
}
.btnDefault:hover{
background: #c91414;
color: #fff;
font-weight: 800;
}

.Col-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Card{
    background: var(--background-card);
    height: 350px;
    width: 350px;
    border: 1px solid var(--text-global);
    border-radius: 5px;
}

